<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
      
      .container1 {
        max-width: 400px;
        margin: 100px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
      
      footer {
        text-align: center;
        background-color: #ffffff;
        margin-top: 80px;
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	  <link rel ="stylesheet" href="style.css">
  </head>
  <body>
 <!--    navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed topzz">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-warning">🆂🅷🅰🅳🅾🆆🅲🅾🅳🅴 🆃🅴🅲🅷🅽🅾🅻🅾🅶🅸🅴🆂</span>&nbsp;       </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/Administrator/Desktop/WEB_shr_1/about.html">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/Administrator/Desktop/WEB_shr_1/cd.html">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/Administrator/Desktop/WEB_shr_1/carrier.html">Carrier</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/Administrator/Desktop/WEB_shr_1/index.html#contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- {% if messages %}

{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
 <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
  <!-- <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %} --> 

<!--coursel-->

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="C:\Users\Administrator\Desktop\WEB_shr_1\php2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Ｓｏｆｔｗａｒｅ Ｄｅｖｅｌｐｍｅｎｔ</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga tenetur corporis iure, iste ullam accusamus! </p>
        <p><a href="#" class="btn btn-warning mt-3">Learn more</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="C:\Users\Administrator\Desktop\WEB_shr_1\1200px-TCS_SIPCOT_Building.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Always Dedicated</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga tenetur corporis iure, iste ullam accusamus! </p>
        <p><a href="#" class="btn btn-warning mt-3">Learn more</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="C:\Users\Administrator\Desktop\WEB_shr_1\Top-IT-Companies-in-Chennai-1024x682.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>True Contruction</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga tenetur corporis iure, iste ullam accusamus! </p>
        <p><a href="#" class="btn btn-warning mt-3">Learn more</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- about -->
<!-- <section id="about" class="about section-ppadding">
  <div class="container">
    <div class ="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-img">&nbsp;&nbsp;&nbsp;
          <img src="C:\Users\Administrator\Pictures\Camera Roll\DSC_0544.jpg" alt="" class="img-fluid"> 
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class ="about-text">
            <h2>
             <br> POLYTECNIC GADCHIROLI</h2>
              <p> ................................................</p>
              <a href="https://gpgadchiroli.ac.in/gpgadchiroli_new/" class="btn btn-warning">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Sevices -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<section id="team" class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Foundres Of 🆂🅷🅰🅳🅾🆆🅲🅾🅳🅴 🆃🅴🅲🅷🅽🅾🅻🅾🅶🅸🅴🆂</h2>
                    <p>HAMARA SATH APPKA VIKAS/><br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="C:\Users\Administrator\Desktop\WEB_shr_1\team-1.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Shravan</h3>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, culpa.</p>
                        
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkdin text-dark mx-1"></i>
                            <i class="bi bi-instagram"></i>
                        </p>
                   </div>
                </div>
            </div><div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="C:\Users\Administrator\Desktop\WEB_shr_1\team-2.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Aryan</h3>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, culpa.</p>
                        
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkdin text-dark mx-1"></i>
                            <i class="bi bi-instagram"></i>
                        </p>
                   </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div><div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="C:\Users\Administrator\Desktop\WEB_shr_1\team-3.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Shifa</h3>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, culpa.</p>
                        
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkdin text-dark mx-1"></i>
                            <i class="bi bi-instagram"></i>
                        </p>
                   </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="C:\Users\Administrator\Desktop\WEB_shr_1\team-4.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">R.G.A.A</h3>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, culpa.</p>
                        
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkdin text-dark mx-1"></i>
                            <i class="bi bi-instagram"></i>
                        </p>
                   </div>
                </div>
            </div>
      
        </div>
    </div>
</section>

<!-- contact section -->
<div class="container1">
  <section id="contact" class="contact section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-header text-center pb-5">
                      <h2>Contact US</h2>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas saepe<br> voluptatum ratione, deleniti eius qui.</p>
                  </div>
              </div>
          </div>
      </div>
      <form>
          <div class="mb-3">
           <label for="name" class="form-label">Your Full Name Here</label>
           <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
           <small class="form-text text-muted">Enter Your Name</small>
         </div>
         <div class="mb-3">
  
           <label for="exampleInputEmail1" class="form-label">Email address</label>
           <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
           <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
         </div>
         <div class="mb-3">
           <label for="exampleInputPassword1" class="form-label">Password</label>
           <input type="password" class="form-control" id="exampleInputPassword1">
         </div>
         <div class="mb-3 form-check">
           <input type="checkbox" class="form-check-input" id="exampleCheck1">
           <label class="form-check-label" for="exampleCheck1">Check me out</label>
         </div>
  
         <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
       </form>
  </section>
  </div>

 <footer>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p>&copy;&copy; &copy; &copy; &copy;  2023 🆂🅷🅰🅳🅾🆆🅲🅾🅳🅴 🆃🅴🅲🅷🅽🅾🅻🅾🅶🅸🅴🆂. All rights reserved. | <a href="privacy.html">Privacy Policy</a></p>
 </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>